{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/form.css') }}">
{% endblock %}

{% block body %}
<div class="background-container">
    <img src="../static/src/pexels-scott-webb-1190906.jpg" class="leaf-background" alt="background">
</div>
<div class="container">
    <div class="overall-card">
        <div class="greeting text-lg">
            <h1>Hello</h1>
        </div>
        <div class="form-container">
            <form action="/go" method = "post">
                <input type="text" class="text-box" name="yt_url" id="yt_url" placeholder="Enter the Youtube playlist URL">
                <input type="text" class="text-box" name="sp_playlist_name" id="sp_playlist_name" placeholder="Enter your playlist name">
                <input type="text" class="text-box"  name="sp_playlist_description" id="sp_playlist_description" placeholder="Enter a playlist description">
                <div class="blast-off" >
                    <input class="submit-button" type="submit" onclick="spinner()" value="Blast Off!">
                </div>
                <div class="spinner">
                    <div class="spinner-container">
                        <div class="double-bounce1"></div>
                        <div class="double-bounce2"></div>
                    </div>
                    <p class="loading-text">one sec :)</p>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript">
    function spinner() {
        document.getElementsByClassName("spinner")[0].style.display = "block";
    }
</script> 
{% endblock %}

