{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
{% endblock %}

{% block body %}
<div class="background-container">
    <img src="../static/src/pexels-scott-webb-1190906.jpg" class="leaf-background" alt="background">
</div>
<div class="container">
    <div class="overall-card">
        <div class="greeting text-lg">
            <h1>Welcome to Yt2Sp</h1>
        </div>
        <div class="welcome-container">
            <form action="/login" method = "post">
                <div class="get-started" >
                    <input class="submit-button" type="submit" value="Get Started!">
                </div>
            </form>
            <div class="demo" >
                <a href="#" class="">Watch our demo!</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
